/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Estilos para el logo de carga */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img {
    width: 100px;
    /* Ajusta el tamaño según el tamaño de tu logo */
}

.container {
    max-width: 600px;
    /* Reducido el ancho máximo */
    margin: 20px auto;
    /* Centrado en la página */
    padding: 20px;
    background-color: #fff;
    /* Color de fondo de la "hoja" */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

/* Encabezado */
header {
    background-color: #333;
    padding: 10px;
}

.logo-container {
    text-align: center;
}

#logo {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
}

/* Secciones */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    /* Color de fondo de las secciones */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

/* Estilos para hacer que el mapa sea responsive */
#mapa {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Proporción 4:3 para mantener el aspecto del mapa */
    position: relative;
}

#mapa iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Estilos para las rutas */
#rutas {
    padding-top: 5%;
}

/* Estilos para los estacionamientos */
#estacionamientos {
    padding-top: 5%;
}

/* Lista de rutas y estacionamientos */
ul {
    list-style-type: none;
}

/* Estilos para los enlaces de rutas de llegada */
#rutas {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para los enlaces de rutas de llegada */
.route-links {
    display: flex; /* Utilizamos flexbox para alinear horizontalmente */
    justify-content: center; /* Centramos los elementos horizontalmente */
}

.route-links a {
    margin: 0 10px; /* Espacio entre los enlaces */
    transition: transform 0.3s ease-in-out; /* Transición suave al pasar el mouse */
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Al pasar el mouse por encima, hacemos que las imágenes sean un poco más grandes */
.route-links a:hover img {
    transform: scale(1.1); /* Aumentamos el tamaño al 110% */
}

/* Reglas de medios para dispositivos móviles */
@media (max-width: 600px) {
    .route-links {
        flex-direction: row !important; /* Cambiamos la dirección a fila para dispositivos móviles */
        justify-content: center; /* Centramos los elementos horizontalmente */
    }
}


/* Listas */

.vineta{
    padding-left: 15px;
}

.vineta li:before {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #d2122f;
    margin-right: 10px;
}


/* Estilos para la sección de contacto */
#contacto {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info i {
    margin-right: 5px;
}

.manuscrita {
    font-family: 'Pacifico', cursive;
    font-size: 24px; /* Tamaño de fuente más grande */
    text-align: right; /* Alinear el texto a la derecha */
}

/* Reglas de medios para dispositivos móviles */
@media (max-width: 600px) {
    .route-links {
        flex-direction: column; /* Cambiamos la dirección a columna para dispositivos móviles */
    }

    .route-links a {
        margin-bottom: 5px; /* Espacio entre los enlaces en dispositivos móviles */
        margin-right: 0; /* Eliminamos el margen derecho */
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Reglas de medios para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }

    #logo {
        width: 100px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
